<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成客服二维码</title>
    <link rel="stylesheet/less" type="text/css" href="../css/base.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/customer.less">
    <script src="https://cdn.bootcss.com/less.js/3.0.0/less.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/layer/3.1.0/mobile/need/layer.css" rel="stylesheet">
    <script src="../js/base.js"></script>
    <script src="../lib/layer/layer.js"></script>
</head>
<body>
    <!--子页面-->
    <div class="main-con ">
        <div class="bg-f">
            <h3 class="line-title">二维码</h3>
        </div>

        <!--生成二维码-->
        <div class="form-group clearfix">
            <div class="form-title" >客服号码</div>
            <div class="fl-l">
                <div class="phone-box">
                    <input type="text" placeholder="" class=" " >
                </div>
                <div>
                    <button class="btn btn-radius">生成二维码</button>
                    <button class="btn btn-reset btn-radius" type="reset">重置</button>
                </div>
            </div>

            <div class="fl-l ">
                <div class="code-box">
                    <img src="../img/code.jpg" width="100%">
                </div>
                <div>
                    <button class="btn btn-radius">下载二维码</button>
                </div>
            </div>
        </div>

        <!--layer-->
        <div>
            <button class="btn" id="btn">layer 按钮</button>
            <button class="btn" id="txt">layer 文字提示</button>
        </div>
        <!--layer上传图片-->
        <div class="upload-box">
            <div class="btn btn-red btn-radius btn-upload">
                <span>上传图片</span>
                <input id="filed" type="file" class="img-file" accept="image/*"/>
            </div>
            <div class="upload-img">
                <img width="100%" id="upload-img">
            </div>
        </div>
    </div>
</body>
<script>
    $("#btn").on("click",function(){
        var _data = {
            type: 0,
            title:"选择指定用户",
            area: ['700px', '600px'],
            content: "啥？？？",
            btn: ['确定', '取消'],
            yes:function(index, layer){
                console.log(index);
                layer.close(index);
            }
        }
        parent.window.showLayer(_data);
    });

    $("#txt").on("click",function(){
        var _data = {
            type: 0,
            title:"选择指定用户",
            area: ['100px', '200px'],
            content: "<table><tr><td>11</td><td>11</td><td>11</td></tr></table>",
            btn: ['确定', '取消'],
            end:function(){
                alert("qix")
            }
        }
        parent.window.showLayer(_data);
    });


    //在input file内容改变的时候触发事件
    $('.img-file').change(function(){
         var file = $(this).get(0).files[0],
         _this = $(this);
         var reader = new FileReader();
         reader.readAsDataURL(file);
         reader.onload=function(e){
             _this.parents(".upload-box").find('.upload-img img').get(0).src = e.target.result;
         }
     })

</script>

</html>