<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
    <link rel="stylesheet/less" type="text/css" href="../css/base.less" />
    <link rel="stylesheet/less" type="text/css" href="../css/login.less" />
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <script src="https://cdn.bootcss.com/less.js/3.0.0/less.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <!---->
    <div class="login">
        <!--logo-->
        <div class="logo-box">
            <img src="../img/code.jpg" class="">
        </div>
        <div class="form-box">
            <form class="form">
                <h3>系统管理员</h3>
                <div>
                    <input class="input" type="text" placeholder="账户">
                </div>
                <div>
                    <input class="input" type="password" placeholder="密码">
                </div>
                <div class="code">
                    <input class="input input-code" type="text" placeholder="验证码">
                    <img src="../img/code.jpg" class="code-img">
                </div>
                <div class="checkbox-box">
                    <input  type="checkbox" class="iconfont check" id="saveid" checked><label class="iconfont" for="saveid">记住密码</label>
                </div>
                <button class="btn-login">登录</button>
                <button type="reset" class="btn btn-disable"></button>
            </form>
        </div>
        <p class="controls">3333333333</p>
    </div>
</body>
</html>